@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: #ffcdcd;
}

*:focus {
	outline: none;
}
@layer base {
	body {
		@apply font-Titillium bg-white;
	}

	.links-item {
		@apply h-20 p-6 cursor-pointer hover:text-red-lighter transition duration-300 ease-in-out;
	}
	.section-title {
		@apply py-4 text-center lg:text-4xl pb-8 md:text-3xl sm:text-2xl text-xl;
	}
	.social-links-footer {
		@apply px-3 py-0 text-xl hover:text-red-lighter transition duration-300 ease-in-out;
	}
	.form-element-wrap {
		@apply relative my-8 border-b-2 focus-within:border-red;
	}
	.form-input {
		@apply block w-full text-blue appearance-none focus:outline-none bg-transparent transition-all duration-300 ease-in-out;
	}
	.form-label {
		@apply absolute top-0 -z-1 origin-0 text-blue transition-all duration-300 ease-in-out;
	}
	.form-input:focus-within ~ label {
		@apply transform scale-75 -translate-y-6 text-blue transition-all duration-300 ease-in-out;
	}
	.form-input:focus-within ~ label,
	.form-input:not(:placeholder-shown) ~ label {
		@apply transform scale-75 -translate-y-6 transition-all duration-300 ease-in-out;
	}

	/* .active {
		@apply border-b-4 border-red-light rounded-2xl;
	} */
}

.hero-bg {
	height: 60vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* .hero-black-overlay {
	display: -webkit-flex;
	display: flex;
	background: linear-gradient(180deg, rgba(21, 26, 81, 0.3) 0%, rgba(25, 31, 97, 1) 100%);
	height: 100%;
	width: 100%;
} */

.pre-loader-done {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	opacity: 0;
	overflow: hidden !important;
	/* display: none !important; */
}
